<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document Classification using Convolutional Neural Networks</title>
<!--      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"> -->

</head>

<body>
		<h1>Document Classification <span>Convolutional Neural Networks</span></h1>
    <h2>Upload new File</h2>
      <form method=post enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit value=Upload>
      </form>
</body>
